<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ユーザー登録</title>
</head>
<body>
  <h1>ユーザー登録</h1>

  <!-- エラーメッセージ表示用 -->
  <div th:if="${#fields.hasErrors()}">
    <p style="color: red;">入力内容に誤りがあります。確認してください。</p>
  </div>

  <form th:action="@{/register/user}" th:object="${user}" method="post">

    <label>ユーザー名：</label><br>
    <input type="text" th:field="*{name}">
    <span th:errors="*{name}" style="color: red;"></span>
    <br><br>

    <label>パスワード：</label><br>
    <input type="password" th:field="*{password}">
    <span th:errors="*{password}" style="color: red;"></span>
    <br><br>

    <button type="submit">登録</button>
  </form>

  <hr>
  <a th:href="@{/login/user}">ログインへ</a>
</body>
</html>
